<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>just4u</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light fixed-top p-2"
      style="border-bottom: 1px solid #001E3F"
    >
      <div class="container">
        <a class="navbar-brand" href="#home">just4u</a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#recomendation">Recomendation</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#graphic">Graphic</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="home" class="hero container">
      <img src="/static/images/hero.png" alt="image" height="400" width="700" />
      <div class="centered">Bundle products and boost your profits!</div>
    </div>
    <br/>

    <div class="container mt-5">
      <h2 class="text-center">
        <span style="color: #007aff">Upload</span> Your Sales Data
      </h2>
      <br />
      <form
        method="post"
        action="/upload"
        enctype="multipart/form-data"
        onsubmit="showLoading()"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <div class="dropzone-wrapper" onclick="triggerInputFile()">
                  <div class="dropzone-desc">
                    <i class="glyphicon glyphicon-download-alt"></i>
                    <p>Choose a file</p>
                  </div>
                  <input type="file" name="file" class="dropzone" />
                  <div class="preview-zone hidden">
                    <div class="box box-solid">
                      <div class="box-body"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100">Upload</button>
          </div>
          <div id="loading">Loading...</div>
        </div>
      </form>

      {% if result %} {% if result is string %}
      <p>{{ result }}</p>
      {% else %}
      <h2 id="recomendation" class="mt-5" style="text-align: center">
        <span style="color: #007aff">Product Bundling</span> Recommendations
      </h2>
      <br />
      <div class="card-columns">
        {% for row in result %}
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><span style="color: #007aff">Bundling :</span></h5>
            <ul>
              {% for item in row[0].split(',') %}
              <li class="card-text">{{ item.strip() }}</li>
              {% endfor %}
            </ul>
            <p><b>dan</b></p>
            <ul>
              {% for item in row[1].split(',') %}
              <li class="card-text">{{ item.strip() }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endif %} {% if img_str %}
      <div id="graphic" class="d-flex flex-column align-items-center mb-5">
        <h2 class="mt-5"><span style="color: #007aff">Frequently Purchased</span> Product</h2>
        <br />
        <img
          src="data:image/png;base64,{{ img_str }}"
          alt="gambar grafik"
          width="1000"
          height="800"
        />
      </div>
      <script>
        document.addEventListener("DOMContentLoaded", function () {
          document.getElementById("content").style.display = "none";
        });
      </script>
      {% endif %}

      <div id="content" style="margin-top: 160px">
        <div style="text-align: center">
          <h2 style="color: rgba(0, 122, 255, 1)">
            Have difficulties in managing products in an online store?
          </h2>
          <br/>
          <h4>Let's use our website!</h4>
          <h4>The recommendation it’s just for you.</h4>
        </div>

        <div style="text-align: center">
          <h4 style="margin-top: 120px">
            <span style="color: rgba(0, 122, 255, 1)">How</span> to use our
            website?
          </h4>
        </div>
        <br/>

        <div style="display: grid; grid-template-columns: auto auto; gap: 20px">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">1.</h5>
              <p>Export your sales data in Shopee Seller Centre</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">2.</h5>
              <p>Upload your sales data in the form above</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">3.</h5>
              <p>View product bundling recommendation results</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">4.</h5>
              <p>
                Start selling your products based on our recommended product
                bundles!
              </p>
            </div>
          </div>
        </div>

        <div style="text-align: center">
          <h4 style="margin-top: 100px">
            <span style="color: rgba(0, 122, 255, 1)">Why</span> you should use
            our website?
          </h4>
        </div>
        <br/>

        <div
          class="w-100 p-4 text-center font-weight-normal"
          style="
            background-color: rgba(0, 30, 63, 0.7);
            color: white;
            border-radius: 20px;
          "
        >
          <p><br>
            Because we will help you to analyze your products based on
            historical sales data and make product bundling recommendations to
            increase your online store sales!
          </p>
        </div>
      </div>
    </div>

    <footer
      style="margin-top: 100px"
      class="bg-body-tertiary text-center text-lg-start"
    >
      <!-- Copyright -->
      <div
        class="text-center p-3"
        style="background-color: rgba(0, 0, 0, 0.05)"
      >
        © 2020, Josephine Kristianti:
      </div>
      <!-- Copyright -->
    </footer>

    <script>
      function showLoading() {}

      function triggerInputFile() {
        document.querySelector(".dropzone").click();
      }

      function readFile(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();

          reader.onload = function (e) {
            var htmlPreview =
              '<img width="200" src="' +
              e.target.result +
              '" />' +
              "<p>" +
              input.files[0].name +
              "</p>";
            var previewZone = $(input).siblings(".preview-zone");
            var boxZone = previewZone.find(".box-body");

            previewZone.removeClass("hidden");
            $(input).siblings(".dropzone-desc").hide();
            boxZone.empty();
            boxZone.append(htmlPreview);
          };

          reader.readAsDataURL(input.files[0]);
        }
      }

      $(".dropzone").change(function () {
        readFile(this);
      });

      $(".dropzone-wrapper").on("dragover", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).addClass("dragover");
      });

      $(".dropzone-wrapper").on("dragleave", function (e) {
        e.preventDefault();
        e.stopPropagation();
        $(this).removeClass("dragover");
      });
    </script>
  </body>
</html>
